.pet-index-container
  .header-container
    %h1 Does my pet need an umbrella?
  .table-container
    %table
      %tr.table-headers
        %td Name
        %td Type
        %td Breed
        %td Location
      - @pets.each do |pet|
        %tr.pet-row
          %td
            = pet["name"]
          %td
            = pet["species"]
          %td
            = pet["breed"]
          %td
            = pet["location"]
          %td
            %form{method: 'GET', action: pet_path(pet["id"])}
              %input{type: 'submit', value: 'Umbrella?', class: 'umbrella-button'}
